/* *{
  outline: dotted 1px pink;
} */

body { height: 100%; 
  padding: 0; 
  margin: 0; 
  background: rgb(71, 5, 5);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  font-size: 50px;
  padding: 25px;
}

h2{
  font-size:25px;
  padding-top: 5px;
  padding-left: 14px;
}

p{
  text-align: left;
}

img{
  padding: 10px;

}

div { width: 40%; 
  height: 50%; 
  float: left;
  padding-right: 10%;
}

.pic{
  position: absolute;
  width: 200px;
  padding: 0px;
}

#div1 { background: rgb(71, 5, 5);
}

#div2 { background: rgb(71, 5, 5);
}

#div3 { background: rgb(71, 5, 5);
}

#div4 { background: rgb(71, 5, 5);
}



#becky {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#daniel {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#aaron {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#leonard {
  width: 200px;
  height: 200px;
  margin: 2px;
}