/* *{
  outline: dotted 1px pink;
} */


nav {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 25px 0;
  margin-right: 100px;

}

body { height: 100%; 
  padding: 0; 
  margin: 0; 
}

/* h1{
  font-size: 50px;
  padding: 25px;
<<<<<<< HEAD
} */
=======
  text-align: center;
}
>>>>>>> 0dd80052e60f36be81528ea718419d0ae28bc868

h2{
  font-size:25px;
  padding-top: 5px;
  padding-left: 14px;
}

p{
  text-align: left;
}

img{
  padding: 10px;

}

div { width: 40%; 
  height: 50%; 
  float: left;
  padding-right: 10%;
}

.pic{
  position: absolute;
  width: 200px;
  padding: 0px;
}

#div1 { background: rgb(187,114, 6);
}

#div2 { background: rgb(187,114, 6);
}

#div3 { background: rgb(187,114, 6);
}

#div4 { background: rgb(187,114, 6);
}



#becky {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#daniel {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#aaron {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#leonard {
  width: 200px;
  height: 200px;
  margin: 2px;
}
