*{
  outline: dotted 1px pink;
}

.navbar {
  
  font-size: 50px;
  padding: 25px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: 50px;
  margin-right: 40px;
  font-family: Impact, Charcoal, sans-serif;
  float: left;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

ul li a:link {
  color: yellowgreen;
}

ul li a:visited {
color: red;
}

ul li a:hover {
  color: orange;
}


#watermark {
  background-image: url("../img/City photo.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  
  overflow: auto;
}

.clearfix {
  clear: both;
  content: "";

}

body{
  color: lightgrey;
  font-size: 30px;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#buycat{
  font-size: 20px;
}

#sellcat{
  font-size: 20px;
}

#changeNeighborhood{
  font-size: 20px;
}

.stat{
  padding-bottom: 20px;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}