.navbar {
  
  font-size: 50px;
  padding: 25px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: 50px;
  margin-right: 40px;
  font-family: Impact, Charcoal, sans-serif;
  float: left;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#watermark {
  background-image: url("../img/City photo.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  
  overflow: auto;
}

.clearfix {
  clear: both;
  content: "";

}