.navbar {
  
  font-size: 50px;
  padding: 25px;
  padding-bottom: 15px;
  padding-left: 50px;
  text-align: center;
  margin-left: 50px;
  margin-right: 40px;
  font-family: Impact, Charcoal, sans-serif;
  float: left;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

ul li a:link {
  color: yellowgreen;
}

 ul li a:visited {
color: lightsalmon;
}

 ul li a:hover {
  color: orange;
}

#watermark {
  background-image: url("../img/City photo.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  overflow: auto;
}

.clearfix {
  clear: both;
  content: "";

}

h2 {
  text-align: center;
  font-size: 100px;
  font-family: Impact, Charcoal, sans-serif;
  
  color: lightgrey;
}

ol {
  text-align: center;
  font-size: 80px;
  font-family: Impact, Charcoal, sans-serif;
  padding-top: 10%;
  color: lightgrey;

}

img {
  height: 150px;
  padding-left: 60px;
}

p {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 50px;
  color: lightgray; 
  font-family: Impact, Charcoal, sans-serif;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}