body{
  background: rgb(187,114, 6);
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li {
  display: inline-block;
  padding: 25px 0;
  margin-right: 100px;
  text-align: center;
}